<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class=" bg-dark text-light">
    <div class="container">

        <h1 class="header">Photos by Mark</h1>

        {% block content %}
        <h2>No Block Defined</h2>
        {% endblock content %}

        <div class="bg-dark text-light">
            <a href="/" class="btn bg-success text-light m-5">Photo Gallery</a>
        </div>

    </div>

</body>

</html>